@import "tailwindcss";

:root {
  --bg: #443D44;
  --text: #F9DCC5;
  --font-holtwood: 'Holtwood One SC', serif;
}
.font-holtwood {
  font-family: var(--font-holtwood);
}




@theme inline {
  --color-primary: #d3b9b9;
  --color-accent: #F9DCC5;
  --color-text: #F9DCC5;
  --color-darktext: #333333;
}


/* TOÀN BỘ WEBSITE NỀN ĐỎ RƯỢU */
body {
  background-color: #443D44;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: var(--text);
  margin: 0;
  font-family: var(--font-bungee);
  min-height: 100vh;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background:
    conic-gradient(from 90deg at 1px 1px, #0000 25%, gainsboro 0%) 0 0/1em 1em,
    linear-gradient(45deg, #0000 calc(50% - 0.5px), gainsboro calc(50% - 0.5px), gainsboro calc(50% + 0.5px), #0000 calc(50% + 0.5px)) 0 0/2em 2em,
    linear-gradient(-45deg, #0000 calc(50% - 0.5px), gainsboro calc(50% - 0.5px), gainsboro calc(50% + 0.5px), #0000 calc(50% + 0.5px)) 0 0/2em 2em;
  opacity: 0.15;
}



/* ÉP NAVBAR TRONG SUỐT KHI CHƯA SCROLL */
nav.bg-transparent {
  background: transparent !important;
  backdrop-filter: none !important;
  border: none !important;
  box-shadow: none !important;
}
